/*			- Resets -			*/

a{text-decoration:none;}	
button{	background:none; background-repeat:no-repeat;	border:none; cursor:pointer; margin:0;	padding:0; text-align:left; }
form{	margin:0;	padding:0; }
img {	border: none; }
ul{	margin:0;	padding:0; list-style:none; }
.block {	display: block;	}
.relative{ position:relative; }

/*			- Paddings/Margins/Widths/Borders -			*/
.m0 { margin: 0;}
.m0auto			{ margin:0 auto; }
.margin-1r	{ margin-right:-1px	 !important;}
.margin-5r	{ margin-right:-5px	 !important;}
.margin-10r	{ margin-right:-10px !important;}
.margin-15r	{ margin-right:-15px !important;}
.margin-20r	{ margin-right:-20px !important;}
.margin-25r	{ margin-right:-25px !important;}
.margin-30r	{ margin-right:-30px !important;}

.margin1r	{ margin-right:1px  !important;}
.margin5r	{ margin-right:5px  !important;}
.margin10r	{ margin-right:10px !important;}
.margin15r	{ margin-right:15px !important;}
.margin20r	{ margin-right:20px !important;}
.margin25r	{ margin-right:25px !important;}
.margin30r	{ margin-right:30px !important;}
.margin35r	{ margin-right:35px !important;}
.margin40r	{ margin-right:40px !important;}
.margin45r	{ margin-right:45px !important;}
.margin50r	{ margin-right:50px !important;}
.margin55r	{ margin-right:55px !important;}
.margin60r	{ margin-right:60px !important;}
.margin65r	{ margin-right:65px !important;}
.margin70r	{ margin-right:70px !important;}


.margin-1l	{ margin-left:-1px  !important;}
.margin-5l	{ margin-left:-5px  !important;}
.margin-10l	{ margin-left:-10px !important;}
.margin-15l	{ margin-left:-15px !important;}
.margin-20l	{ margin-left:-20px !important;}
.margin-25l	{ margin-left:-25px !important;}
.margin-30l	{ margin-left:-30px !important;}
.margin-40l	{ margin-left:-40px !important;}

.margin1l	{ margin-left:1px  !important;}
.margin5l	{ margin-left:5px  !important;}
.margin10l	{ margin-left:10px !important;}
.margin15l	{ margin-left:15px !important;}
.margin20l	{ margin-left:20px !important;}
.margin25l	{ margin-left:25px !important;}
.margin30l	{ margin-left:30px !important;}
.margin35l	{ margin-left:35px !important;}
.margin40l	{ margin-left:40px !important;}
.margin45l	{ margin-left:45px !important;}
.margin50l	{ margin-left:50px !important;}
.margin55l	{ margin-left:55px !important;}
.margin60l	{ margin-left:60px !important;}
.margin65l	{ margin-left:65px !important;}
.margin70l	{ margin-left:70px !important;}
.margin80l	{ margin-left:80px !important;}
.margin85l	{ margin-left:85px !important;}
.margin105l	{ margin-left:105px !important;}
.margin120l	{ margin-left:120px !important;}

.margin0t	{ margin-top:0px  !important;}
.margin-1t	{ margin-top:-1px  !important;}
.margin-5t	{ margin-top:-5px  !important;}
.margin-10t	{ margin-top:-10px !important;}
.margin-15t	{ margin-top:-15px !important;}
.margin-20t	{ margin-top:-20px !important;}
.margin-25t	{ margin-top:-25px !important;}
.margin-30t	{ margin-top:-30px !important;}
.margin-40t	{ margin-top:-40px !important;}
.margin-50t	{ margin-top:-50px !important;}
.margin-60t	{ margin-top:-60px !important;}
.margin-70t	{ margin-top:-70px !important;}
.margin-80t	{ margin-top:-80px !important;}
.margin-90t	{ margin-top:-90px !important;}

.margin1t	{ margin-top:1px  !important;}
.margin5t	{ margin-top:5px  !important;}
.margin7t	{ margin-top:7px  !important;}
.margin10t	{ margin-top:10px !important;}
.margin14t	{ margin-top:14px !important;}
.margin15t	{ margin-top:15px !important;}
.margin18t	{ margin-top:18px !important;}
.margin20t	{ margin-top:20px !important;}
.margin25t	{ margin-top:25px !important;}
.margin27t	{ margin-top:27px !important;}
.margin30t	{ margin-top:30px !important;}
.margin40t	{ margin-top:40px !important;}
.margin50t	{ margin-top:50px !important;}
.margin60t	{ margin-top:60px !important;}
.margin70t	{ margin-top:70px !important;}

.margin-1b	{ margin-bottom:-1px  !important;}
.margin-5b	{ margin-bottom:-5px  !important;}
.margin-10b	{ margin-bottom:-10px !important;}
.margin-15b	{ margin-bottom:-15px !important;}
.margin-20b	{ margin-bottom:-20px !important;}
.margin-25b	{ margin-bottom:-25px !important;}
.margin-30b	{ margin-bottom:-30px !important;}

.margin1b	{ margin-bottom:1px  !important;}
.margin5b	{ margin-bottom:5px  !important;}
.margin10b { margin-bottom:10px !important;}
.margin15b { margin-bottom:15px !important;}
.margin20b { margin-bottom:20px !important;}
.margin25b { margin-bottom:25px !important;}
.margin30b { margin-bottom:30px !important;}
.margin43b { margin-bottom:43px !important;}
.margin50b { margin-bottom:50px !important;}

.padding0	{ padding:0px;}
.padding5	{ padding:5px;}
.padding10	{ padding:10px;}
.padding15	{ padding:15px;}
.padding20	{ padding:20px;}
.padding25	{ padding:25px;}
.padding30	{ padding:30px;}

.padding5r	{ padding-right:5px;}
.padding10r	{ padding-right:10px;}
.padding15r	{ padding-right:15px;}
.padding20r	{ padding-right:20px;}
.padding25r	{ padding-right:25px;}
.padding30r	{ padding-right:30px;}
.padding35r	{ padding-right:35px;}
.padding40r	{ padding-right:40px;}
.padding45r	{ padding-right:45px;}
.padding50r	{ padding-right:50px;}
.padding55r	{ padding-right:55px;}
.padding60r	{ padding-right:60px;}
.padding65r	{ padding-right:65px;}
.padding70r	{ padding-right:70px;}

.padding5l	{ padding-left:5px;}
.padding10l	{ padding-left:10px;}
.padding15l	{ padding-left:15px;}
.padding20l	{ padding-left:20px;}
.padding25l	{ padding-left:25px;}
.padding30l	{ padding-left:30px;}

.padding5t	{ padding-top:5px;}
.padding10t	{ padding-top:10px;}
.padding15t	{ padding-top:15px;}
.padding20t	{ padding-top:20px;}
.padding25t	{ padding-top:25px;}
.padding30t	{ padding-top:30px;}

.padding5b	{ padding-bottom:5px;}
.padding10b	{ padding-bottom:10px;}
.padding15b	{ padding-bottom:15px;}
.padding20b	{ padding-bottom:20px;}
.padding25b	{ padding-bottom:25px;}
.padding30b	{ padding-bottom:30px;}

.width5	{width:5% !important;}
.width10	{width:10% !important;}
.width15	{width:15% !important;}
.width20	{width:20% !important;}
.width25	{width:25% !important;}
.width30	{width:30% !important;}
.width35	{width:35% !important;}
.width33	{width:33% !important;}
.width40	{width:40% !important;}
.width43	{width:43% !important;}
.width45	{width:45% !important;}
.width50	{width:50% !important;}
.width55	{width:55% !important;}
.width60	{width:60% !important;}
.width65	{width:65% !important;}
.width66	{width:66% !important;}
.width70	{width:70% !important;}
.width71	{width:71% !important;}
.width75	{width:75% !important;}
.width77	{width:77% !important;}
.width80	{width:80% !important;}
.width85	{width:85% !important;}
.width90	{width:90% !important;}
.width94	{width:94% !important;}
.width95	{width:95% !important;}
.width100	{width:100% !important;}

table{border-collapse: collapse;}
.borderb td{ border-bottom: 1px #ccc solid; padding: 10px 0;}
.padding10tb td{padding: 10px 0;}

.directorioperfil input, .directorioperfil textarea{ margin-bottom: 10px;}

.floatL, #nav li {	float: left; }
.floatR {	float: right; }

.roundbor{  -webkit-border-radius: 20px; border-radius: 20px;  -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box; }

.clear { clear:both; }
:-moz-any-link:focus { outline: none; }
.clearfix:after {	content: "."; 	display: block; 	height: 0; 	clear: both; 	visibility: hidden; }
.clearfix {display: inline-block;}
.clearfix {display: block;}



#fade img { width: 200px;}

/*			- Main site elements -			*/
body {
	text-align:center;
	margin:0;
	padding:0;
	font-size: 1em;
    line-height: 1.4;
	background-image:url(../img/bg/bg.png);
	background-color:##E9E9E9;
	font-family: 'source_sans_prolight';
}
html, body{ min-width:1024px; }
.main {
	text-align:left;
	display: block;
	margin: 0 auto;
	width: 1280px;
}
#header{
}
#nav{
}
#footer{
	background-image:url(../img/lines/footer.png);
	background-repeat:repeat-x;
	width:100%;
	height:89px;
	float:left;
}
#footer2{
	background-image:url(../img/lines/footer.png);
	background-repeat:repeat-x;
	width:100%;
	height:50px;
	float:left;
}
#content{	display: block;	clear: both; }



/*			- Site Layout -			*/
.tituloacerca{color:#666 !important;}
#contenedor{
	width:100%;
}
#encabezado{
	height:66px;
	margin:auto;
	background-image:url(../img/lines/barra_top.png);
	background-repeat:no-repeat;
	background-position:center 0;
}
#barra-top{
	width:1000px;
	height:69px;
	margin:0 auto;
	z-index:999;
	position:relative;
}
.logo{
	padding:5px 15px;;
	float:left;
}
.login{
	float:right;
	padding: 5px 20px;
}

.info-footer{
	width:1050px;
	height:30px;
}
.info-footer2{
	width:1050px;
	height:30px;
	margin:0 auto;
	padding-top:15px;
}
.copyright{
	float:left;
	width:290px;
	height:30px;
	font-size:12px;
	color:#111;
}
.terminos,.aviso-priva{
	float:right;
	margin: 0 5px;
	height:30px;
	font-size:12px;
	color:#580600;
}


.bgtrans{ background: url(../img/bg/trans.png);}
.contentregistro{ width: 663px; height:497px; padding:0 20px; text-align: left; border:solid 2px #8B8B8B;}
.contentlogin{ width: 248px; height:456px; padding: 20px; text-align: left; border:solid 2px #8B8B8B;}

.separador{ background:#CCCCCC; height: 1px;}

.input {
    padding: 10px 0 10px 10px; 
	font-size: 15px;
	text-shadow: 0px 1px 0px #fff;
	outline: none;
	
	border: 1px solid #CCC;
	-webkit-box-shadow: 2px 2px 0px #cccccc;
	-moz-box-shadow: 1px 1px 0px #cccccc;
	box-shadow:  1px 1px 0px #cccccc;
}
.input3 {
    padding: 5px 0 5px 10px; 
	font-size: 15px;
	text-shadow: 0px 1px 0px #fff;
	outline: none;
	
	border: 1px solid #CCC;
	-webkit-box-shadow: 2px 2px 0px #cccccc;
	-moz-box-shadow: 1px 1px 0px #cccccc;
	box-shadow:  1px 1px 0px #cccccc;
}
.inputSearch {
     background: -webkit-gradient(linear, left top, left bottom, from(#FfFfFf), to(#e9e9e9));
  background: -moz-linear-gradient(top,  #FfFfFf,  #f8f8f8);
  font-size: 12px;
  line-height: 14px;
  height:26px;
  width:100%;
   cursor: pointer;
    text-decoration: none;
    text-align: left;
    padding-left: 10px;
    font-family: 'source_sans_prolight';
    color: #333;
    border: 0;
}

input.input2, .input4, .inputerror {
	font-size: 18px;
	font-family: 'source_sans_prolight';
	height: 42px;
	padding-left: 10px;
	text-shadow: 0px 1px 0px #fff;
	outline: none;
	background: -webkit-gradient(linear, left top, left bottom, from(#F3F3F3), to(#ffffff));
	background: -moz-linear-gradient(top,  #F3F3F3,  #ffffff);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #CCC;
	-webkit-box-shadow: 1px 1px 0px #efefef;
	-moz-box-shadow: 1px 1px 0px #efefef;
	box-shadow:  1px 1px 0px #efefef;
}
.input4{height:32px !important;
}
textarea.textareapost {
	font-size: 18px;
	font-family: 'source_sans_prolight';
	height:97px;
	width: 409px;

	padding-left: 10px;
	text-shadow: 0px 1px 0px #fff;
	outline: none;
	background: -webkit-gradient(linear, left top, left bottom, from(#F3F3F3), to(#ffffff));
	background: -moz-linear-gradient(top,  #F3F3F3,  #ffffff);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #CCC;
	-webkit-box-shadow: 1px 1px 0px #efefef;
	-moz-box-shadow: 1px 1px 0px #efefef;
	box-shadow:  1px 1px 0px #efefef;
}

input:focus {
	-webkit-box-shadow: 0px 0px 5px #007eff;
	-moz-box-shadow: 0px 0px 5px #007eff;
	box-shadow: 0px 0px 5px #007eff;
}
.inputerror{
	border: 1px solid #A92929 !important;
	color:#A92929 !important;
}
.inputerror::-webkit-input-placeholder {
    color:#A92929;
	font-size:16px;
}
.inputerror:-moz-placeholder {
    color:#A92929;
	font-size:16px;
}
.btn {
display: inline-block;
text-align: center;
background-repeat: repeat-x;
color: #fff;
padding: 0 10px;
}

.bggray{background: #8B8B8B;}
.bgred{background:#A20000;}
.bga20{background:#A20000;}

#foto{ }
.relative{position: relative;}

#contenido{
	width:1000px;
	height:500px;
	background-image:url(../img/photos/bgregistrate.jpg);
	background-repeat:no-repeat;
	margin:10px auto 35px;
}

#contenidoin{
	width:1000px;
	height:449px;
	background-image:url(../img/bg/mainbg.png);
	background-repeat:no-repeat;
	margin:0 auto 10px;
	padding: 25px;
	z-index: -1;
}

.contenidohome {padding: 10px !important; height: 479px !important;}

div#box{display: none;}

div.fotobg{ background: url(../img/bg/fotobg.png) no-repeat;  width: 323px; max-width: 323px; height: 452px; z-index: 809; position: absolute; top: -7px; left: 540px;}


div.menuActividad{ background: url(../img/bg/menuActividad.png) no-repeat;  width: 374px; max-width: 374px; height: 165px; z-index: 800; position: absolute; top: -4px; left: -5px;}


.fotobg label{ text-align: left; padding-left: 33px;}
div.fotobg h1{ width: 253px; padding: 90px 30px 0; font-size: 20px; font-weight: 500; text-align: left;}
.fotologin{cursor: pointer; z-index:810; position: relative;}

.whiteback{ background: #fff;}

textarea.participa {
resize: none;
width: 509px;
border: 1px #A3A3A3 solid;
height: 26px;
background: white url(../img/icons/participa.png) no-repeat;
background-position: 15px 3px;
padding-left: 50px;
padding-right: 120px;
padding-top: 3px;
font-size: 20px;
position: relative;
z-index: 888;}


div#participa{display: inline-block; width: 681px; height: 36px;}
div.inputimg{display: inline-block; width: 235px;}

.border5{ border-radius: 5px; moz-border-radius:5px;}

.separadorbarra { background: url(../img/lines/separadorbarra.gif); width: 2px; height: 54px;}

.temporaldrop{background: #F0F0F0;
width: 288px;
height: 31px;
text-align: left;
padding-left: 7px;
padding-top: 3px;
font-size: 20px;
background-size: 100%;
border: 1px solid #999;
position: absolute;
right: 21px;
overflow: hidden;
cursor: pointer;
z-index: 808;
 }

.plabel, .biglabel { font-size: 18px; font-style: normal;}
.acerca, .acerca2{ border: 1px #CCCCCC solid; height: 405px; width: 946px;}
.acerca2{background-color:#FFF;}
.acercaleft{border-right: 1px #CCCCCC solid; height: 405px; width: 273px; }
.acercaleft2{ height: 405px; margin-left: 20px; margin-top: 20px; width: 251px;}


.pestanas{ font-size: 17px; font-family: 'source_sans_prolight'; border: 1px #CCCCCC solid; padding: 5px 0; width: 271px;}
.pestanas2{ font-size: 23px; font-family: 'source_sans_prolight'; border-bottom: 1px #CCCCCC solid; padding: 8px 0; width: 251px; background:url("../img/btns/directorioon2.png") no-repeat; background-position: 235px 17px; text-align:left;}
.pestanas a {font-size: 17px; font-family: 'source_sans_prolight'; }
.pestanas2 a {font-size: 17px; font-family: 'source_sans_prolight'; padding-left:5px;}
.pestanas.on{background:url("../img/btns/directorioon.png") no-repeat #B54949; background-position: 240px 11px; }
.pestanas2.on{background:url("../img/btns/directorioon.png") no-repeat #B54949; background-position: 235px 17px; text-align:left;}
.pestanas2.on a{color:#FFF; padding-left:5px;}
#directoriohead span{ color: #A92626;}
#directoriohead { color: #333333; font-size: 20px;}

.directorioin{ padding: 30px; height: 311px; width:64.6% !important;}
.directorioin2{  height: 311px;}

.font13{ font-size: 13px;}
.font16{ font-size: 16px;}

.adentrotab{height:200px; width:600px; padding:10px 40px;; margin-top:170px;}

.directorioin{ }
.directorioperfil p { text-align: left;}
.directorioperfil h2{ text-align: left; font-family: 'source_sans_prolight';}
.directorioin h1{font-size: 33px; font-family: 'source_sans_prolight';}

.enlinea, .offline{ background: url(../img/misc/greendot.png) no-repeat;
display: inline-block;
background-position: center left;
padding-left: 10px;}

.offline{ background: url(../img/misc/reddot.png) no-repeat;
display: inline-block;
background-position: center left;
padding-left: 10px;}

.directoriocontenido h2{ color: #333333; font-size: 17px; font-weight: bold; text-align: left;}
.directoriocontenido ul li{ color: #333333; font-size: 17px;  text-align: left;}
.pestanasBusqueda a{ display: block; padding-top: 11px;}
.pestanasBusqueda{background:#E1E1E1; z-index: 0; position: relative; display: inline-block; width: 121px; height: 40px; border-radius: 10px 10px 0px 0px; border:#CCCCCC solid 1px; border-bottom: 0; }
.pestanasBusqueda.on{background:#F7F7F7; z-index: 1; position: relative; }

.semibold{font-family: 'source_sans_prosemibold'}
.prolight{font-family: 'source_sans_prolight';}
.font22{font-size: 22px;}
.font20{font-size: 20px;}
.font11{font-size: 11px;}
.font18{font-size: 18px;}
.font17{font-size: 17px !important;}
.bold{ font-weight: bold;}
.gray{color: #666666;}

.searchtop{ border-bottom: solid 1px #CCCCCC; text-align: left;}
.separadorV64{ width: 1px; height: 64px; background: #cccccc;}

.busquedaop{ padding-top: 18px;}
.busquedaop div{ margin-right: 15px;}

.ff31{background: #fff; margin-left: 20px; width: 349px; height: 104px; font-family: 'source_sans_prolight'; text-align: left; padding: 10px; }
.ff31 h1{ font-size: 20px; margin-top: 5px;}
.ff31 p{font-size: 13px; line-height: 5px; margin-left: 30px;}
.ff31 h2{ font-size: 13px;}

.ff244{background: white;
width: 272px;
height: 92px;
font-family: 'source_sans_prolight';
text-align: left;
padding: 12px; margin-left: 15px;}
.ff244 h1{ font-size: 16px;  margin-bottom: 1px; }
.ff244 p{font-size: 13px; line-height: 18px; margin-left: 5px; font-family: 'source_sans_proregular'}
.ff244 h2{ font-size: 13px;}
.ff244 .more{position:absolute; bottom:4px !important; right:4px !important;}

.more{position:absolute; bottom:10px; right:20px;}



.ff32{background: #fff; margin-left: 10px; width: 283px; height: 110px; font-family: 'source_sans_prolight'; text-align: left; padding: 10px; }
.ff32 h1{ font-size: 18px; text-align: left; margin-top: 5px;}
.ff32 p{font-size: 18px; line-height: 20px; margin-left: 10px;}
.ff32 h2{ font-size: 17px; border-bottom: 1px solid #ccc; border-top: 1px #ccc solid; width: 93%;}

.ff33{background: #fff; margin-left: 10px; width: 283px; height: 135px; font-family: 'source_sans_prolight'; text-align: left; padding: 10px; }
.ff33 h1{ font-size: 18px; text-align: left; margin-top: 5px;}
.ff33 p{font-size: 12px; line-height: 20px;}
.ff33 h2{ font-size: 14px; border-bottom: 1px solid #ccc; border-top: 1px #ccc solid; width: 93%;}
.ff31 .more{bottom:10px; right:20px;}

.ff31 .more{position:absolute; bottom:10px; right:20px;}

#actreciente { width: 50px; padding: 0px; border-top: 2px #ccc solid; border-bottom: 2px #ccc solid; border-left: 2px #ccc solid;}
#actreciente img{ display: block; cursor: pointer; z-index: 22; position: relative; top:9px; height: 170px;
margin-left: 15px;
margin-bottom:12px;
margin-top: 0px;}

.searchresults{ padding: 0px 0; }
.logrosp {font-family: 'source_sans_prolight'; font-size: 17px; text-align: left;}
.taleft{text-align: left;}

/*Andres*/
.tabla1, .btn, .input, #slidelogros .slide, .fotobg label, div.fotobg h1{ font-family: 'source_sans_prolight'; }
.fotobg label{ font-size:16px; }
.pestanas.on a{ color:#FFF; }
.pestanas a{ display:block; }
.tabla1{ border-spacing:0;  border-collapse:collapse; font-size:14px; }
.tabla1 th{ font-weight:normal; padding:10px 0; }
.tabla1 td{ border-top:1px solid #CCC; padding:10px 0; vertical-align:top; }
.h84{ height:84px; }
.width29{ width:29%;  }
.bbot{ border-bottom:1px solid #CCC; }
.iosSlider {
	position: relative;
	top: 0;
	left: 0;
	overflow: hidden;
	width: 100%;
	height: 100%;
}
.iosSlider .slider {
	width: 100%;
	height: 100%;
}
.iosSlider .slider .slide {
	float: left;
	width: 100%;
	height: 100%;
}
#slidelogros, #slidelogros .slide{ height:175px !important; width:568px !important; }
#slidelogros p{ font-size:17px; color:#666; }
.navslider{ text-align:center; }
.navslider a{
	width:10px;
	height:9px;
	cursor:pointer;
	display:inline-block;
	margin:0 8px;
	background-position:0 0;
}
.navslider .on, .navslider a:hover{ background-position:-11px 0; }
.navslider a{ background-image:url(../img/btns/navslider.png); }
.hidden{ display:none; }

.boxgrey150h { height: 150px; width: 207px; background:#666666; position: relative; color: #fff; border: none;}
.greyarrow{ position: absolute; right: 30px; top: -15px;}
.grayboxcomment img.bigfoto{ border: none; margin: 0; display: block;}
.graybutton{ position: absolute; top: 0; left: 0;}
.grayboxcomment {position: relative;}


/*	- Buttons -	*/


/*			- JQuery Plugins -			*/


/*			- Media Queries -			*/

@media (max-width: 1200px) {  
	
}


/*Slider label*/
#sliderLabel {
	border: 1px solid #a2a2a2;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	cursor: pointer;
	display: block;
	height: 18px;
	margin: 0px auto;
	overflow: hidden;
	position: relative;
	width: 63px;
	font-size: 16px;
	display: inline-block;
	top: 5px;
	left: 9px;
}

#sliderLabel input {
	display: none;
}

#sliderLabel input:checked + #slider {
	left: 0px;
}

#slider {
	left: -34px;
	position: absolute;
	top: 0px;

	-webkit-transition: left .50s ease-out;
	-moz-transition: left .25s ease-out;
	-o-transition: left .25s ease-out;
	-ms-transition: left .25s ease-out;
	transition: left .25s ease-out;
}

#sliderOn,#sliderBlock,#sliderOff {
	display: block;
	font-family: arial, verdana, sans-serif;
	font-weight: bold;
	height: 20px;
	line-height: 21px;
	position: absolute;
	text-align: center;
	top: 0px;
}

#sliderOn {
	background: #999999;

	/*background: -webkit-linear-gradient(top, #3269aa 0%, #82b3f4 100%);
	background: -moz-linear-gradient(top, #3269aa 0%, #82b3f4 100%);
	background: -o-linear-gradient(top, #3269aa 0%, #82b3f4 100%);
	background: -ms-linear-gradient(top, #3269aa 0%, #82b3f4 100%);
	background: linear-gradient(top, #3269aa 0%, #82b3f4 100%);*/
	color: white;
	left: -8px;
	width: 54px;
}

#sliderBlock {
	background: url("../img/btns/sliderblock.png") no-repeat;
/*
	background: -webkit-linear-gradient(top, #d9d9d8 0%, #fcfcfc 100%);
	background: -moz-linear-gradient(top, #d9d9d8 0%, #fcfcfc 100%);
	background: -o-linear-gradient(top, #d9d9d8 0%, #fcfcfc 100%);
	background: -ms-linear-gradient(top, #d9d9d8 0%, #fcfcfc 100%);
	background: linear-gradient(top, #d9d9d8 0%, #fcfcfc 100%);*/

	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border-radisu: 3px;
	height: 18px;
	left: 34px;
	width: 50px;
}

#sliderOff {
	background: #999999;

	/*background: -webkit-linear-gradient(top, #8b8c8b 0%, #f2f3f2 50%);
	background: -moz-linear-gradient(top, #8b8c8b 0%, #f2f3f2 50%);
	background: -o-linear-gradient(top, #8b8c8b 0%, #f2f3f2 50%);
	background: -ms-linear-gradient(top, #8b8c8b 0%, #f2f3f2 50%);
	background: linear-gradient(top, #8b8c8b 0%, #f2f3f2 50%);*/
	color: #ffffff;
	left: 58px;
	width: 48px;
}

label.little{font-family: 'source_sans_prolight'; font-size: 12px; color: #666666; display: inline;}



.block300, .encuesta{ width:270px; height:114px; padding:7px 15px; margin:0 0 10px 7px; float:left; background:#FFF; text-align:left; }
.block600{ width:436px; height:100px; padding:7px 15px; margin:3px 0 0 5px; float:left; background:#FFF; text-align:left; }
.gray3{ color:#333; }
.block300 .gray3{ font-family:"source_sans_prosemibold"; }
.padding20-0{ padding:20px 0; }
#slidefavs, #slidefavs .slide{ height:280px !important; }
#slidefavs-chat, #slidefavs-chat .slide, #slidefavs-chat2, #slidefavs-chat2 .slide{ height:355px !important; }
#directoriohead{ line-height:24px; }
#directoriohead span{ font-size:16px; }
#directoriohead img{ float:left; margin-right:10px; }
.encuesta{ height:auto; padding:15px 15px 40px; }
.encuesta td{ font-size:13px; font-family:"source_sans_proregular"; }
.encuesta .more{ background:url(../img/icons/more.png); width:20px; height:22px; display:block; position:absolute; bottom:5px; right:10px; cursor:pointer; }
.borBT{ border-bottom:1px solid #CCC; border-top:1px solid #CCC; padding:8px 0; }

.font33{font-size: 33px !important;}
.font16{font-size: 16px;}
.font14{font-size: 14px;}
.font15{font-size: 15px !important;}

.fotosconfirmados  li{ display: inline;}

.box24{ background: #fff; width: 187px; padding-left: 20px; position: relative; height: 148px; max-width: 207px; max-height: 148px;  display: inline-block; float:left; margin: 0 2px;}

.boxpestana{ width: 6px; height: 19px; position: absolute; top: 0; left: 0;}
.boxpestana.yellow {background: #DDC100;}

.boxpestana.purple{background:#993366; }#A92929
.boxpestana.red{background:#A92929; }
.boxpestana.green{background:#4EA963; }

.padding40{padding: 40px;}
.borderb{border-bottom: 1px #c4c4c4 solid;}

#confirmados{border-left: 1px #C4C4C4 solid;
height: 170px; width: 25.6%; padding-right: 16px;}

.line26{ line-height: 26px;}


.w207h234{ width: 187px; height: 214px; padding: 10px; border: 1px #a3a3a3 solid;}
.w227h129{ width: 227px; height: 129px; padding: 10px; border: 1px #a3a3a3 solid;}
.w300h129{ width: 299px; height: 51px; padding: 10px; border: 1px #a3a3a3 solid;}
.w207h234 h2{font-size: 14px; margin-bottom: 0; margin-left: 10px;}
.w207h234 p{ font-size: 14px; margin-top: 17px;}
.w207h234 .line188{ margin-top: 15px;}


.bgwhite { background: #fff; border: 1px solid #A3A3A3;}

.leftshadow{-moz-box-shadow: -2px 2px 2px 2px #C6C3BA;
-webkit-box-shadow: -2px 2px 2px 2px #C6C3BA;
box-shadow: -2px 2px 2px 2px #C6C3BA;
filter: progid:DXImageTransform.Microsoft.Shadow(color='#C6C3BA', Direction=135, Strength=1);}

.twitter{width: 295px;
height: 234px;
background: #D5D5D5;
border: solid 1px white;}

.twitter h2, .twitter p{ z-index: 700}

.w207h193{ width: 187px;
height: 173px;
padding: 10px;}

.w207h193 a, .w414h193 a, .w351h193 a, .temporaldrop a{color: #666; font-size: 12px; font-weight: bold; font-family: "source_sans_prosemibold";}
.w207h193 h1, .w414h193 h1, .w351h193 h1{ font-size: 17px;}

.w414h193{width: 394px; height: 173px;}

.w351h193{width: 331px; height: 173px;}

.f7{background:#F7F7F7; border: 1px solid #A3A3A3;}
.h230{height: 230px !important;}

.height300{height: 330px;}
.header{width:240px;
	display:block;
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;}

.3lines{cursor:pointer;}

div.menuActividad{z-index:1;}

.wrapper{ width: 1050px; margin: 0 auto;}

#footer ul li{ display: inline;}
#footer2 ul li{ display: inline;}

#footer ul li a{font-size: 16px; content: #666666; margin: 0 6px;}
#footer2 ul li a{font-size: 16px; content: #666666; margin: 0 5px;}

.line188{ width: 188px; height: 1px; background:#cccccc;}

.socialicons {margin-top: 5px;}
.socialicons p{margin-top: 0;}
.twit { border-top: #fff solid 1px;}
.twit h2{ text-align: left; padding: 0 10px; margin-bottom: 0; margin-top: 5px;}
.twit p { font-size: 14px; text-align: left; padding: 0 10px;}


.destacado{text-align: left; padding: 5px;}
.destacado h3 { color: #666; font-weight: bold; font-family: "source_sans_prosemibold"; font-size: 12px;}
.destacado p.anuncio {color: #666; font-size: 18px; width: 150px;}

.borderl{ border-right: 1px #ccc solid;}

.lineh142{ width: 1px; height: 148px; background:#ccc;}

div.respuesta label{margin-top: 8px; font-size: 16px;}
div.respuestas {margin-left:15px;}
p.pregunta{ width: 325px; font-size: 16px; text-align: left; margin-top: 10px;}

.clickhelp{cursor: pointer;}
.notificaciones{ padding-top: 10px; padding-bottom: 0; border-bottom: 1px #ccc solid;}
.bordert {border-top: 1px #ccc solid;}
.notificaciones p{ font-size: 14px; margin-left: 10px; position: relative; bottom: 2px; width: 222px;}

.forumnot{ padding-top: 10px; padding-bottom: 0; border-bottom: 1px #ccc solid; padding-left: 10px;}
.forumnot p{ font-size: 14px; margin-left: 10px; position: relative; bottom: 2px; width: 180px; text-align: left;}

.w248{ width: 248px; height: 292px; border:solid #cccccc 1px; margin:0 7px;}
.w404{ width: 404px; height: 292px; border:solid #cccccc 1px; margin:0 5px;}

.hidetext{display: block;
overflow: hidden;
white-space: nowrap;
text-overflow: ellipsis;
height:37px;
}

.altotal{width: 137px;}


#forumenviar{ border:#ccc solid 1px; padding:10px; position: absolute; bottom: 0; width: 95% }

.padding10b{padding-bottom: 10px;}

.height450{height: 450px !important;}

.post{text-align: left; margin-left: 20px;}
.post h1 { width: 296px; font-size: 33px;}
.post h2{ font-size: 16px;}
.post h3{ font-size: 13px; margin-bottom: 0;}

.line100{ width: 100%; height: 1px; background: #ccc;}

.postlabel{ margin-top: 30px; text-align: left;}
.postlabel p{ font-size: 14px; border-top: 0; }

ul.documentos li span { font-size: 12px;}




.postderecha{text-align: left;}
.postderecha h3{font-family: "source_sans_prosemibold"; font-size:15px;}
.postderecha h1{font-size: 22px;}

.w465h120{width: 400px; height: 135px; padding: 10px; margin-top: 5px;}

.w465h120 .comment{ margin-top: 0px; text-align: left;}
 p.nota {font-size: 17px !important; margin-top: 10px;}

 .chatButton{ cursor: pointer;}
 .chats{float:left; cursor:pointer;}
 .tiempochat span{margin-left:10px; padding-left:10px; text-align:left; text-decoration:underline; cursor:pointer; font-size:12px;}
 .tiempochat{margin-top:-10px;}
 

div.contactos{position: absolute; bottom: 85px; display: none; right: 130px; width: 280px; height: 300px; background: #F9F9F9; border: #ccc 1px solid; padding: 10px;}
.contacto{ padding: 10px; cursor: pointer;}
.contacto h2{ font-family: "source_sans_prolight"; color:#333; margin-left: 10px; font-size: 13px; margin-top: 10px;}

div.ventanachat{position: absolute; bottom: 85px; display: none; right: 433px; width: 280px; height: 300px; background: #F9F9F9; border: #ccc 1px solid; padding: 10px;;}
.ventanachat h2{ font-family: "source_sans_prolight"; color:#333; font-size: 17px;}

.ventanachat textarea{ border: 1px solid #ccc;}
textarea.conversacion{ width: 225px;; height: 180px; resize:none; padding-left: 55px; padding-top: 20px; background: url(../img/icons/chat.png) bottom left #fff no-repeat;}

textarea.comment{ width: 260px; height: 30px; resize:none; padding:10px; margin-top:5px; font-size:14px;}

.chaticon, .chaticon2{background: url(../img/icons/chat.png); width: 30px; height: 26px; margin-top: 5px;}
.chaticon2{background: url(../img/icons/chatgris.png);}


.cerrarchat{background: url(../img/icons/cerrarchat.jpg); width: 16px; height: 15px; cursor: pointer; margin-top: 5px; position: absolute; right: 10px; top: 10px;}

.borderb{border-bottom: 1px solid #ccc;}

.foto-contacto{position: absolute; top: 60px; left: 20px;}
.foto-usuario{position: absolute; top: 257px; left: 20px;}

.camara{background: url(../img/icons/camara.png) no-repeat center; width: 81px; height: 26px; border-right: 1px #ccc solid; cursor: pointer;}

.participaBottom{ z-index: 8888; display: none; position: relative; width: 680px; height: 26px; background: #fff; border: #ccc solid 1px; bottom: 5px; }

.menu3lines{ background: url(../img/btns/3lines.png) no-repeat center; z-index: 889; width: 52px; height: 54px; border-bottom: #ccc solid 1px; cursor: pointer;}

.menu3lines.on{background: url("../img/icons/3lineson.gif") no-repeat;}

.actividadopen{position: absolute; top: 0; display: none; padding: 5px; left: 48px; width: 300px; min-height: 250px; background: #FfFfFf; border: #ccc 1px solid; z-index: 888;}
.actividadopen .inside{ background: #F9F9F9; width: 100%; height: 100%; min-height: 250px;}
.cuadroinside{ background: #F9F9F9 url(../img/btns/3lines.png) no-repeat center; width: 100%; height: 44px; cursor:pointer;}

.searchresults p.font22 { text-align: left;}

.ff244 { margin-top: 10px;}

.directorioin th{text-align: left;}
.directorioin td{ text-align: left;}
.actcuadro{position: absolute; top: 0; left: -50px; background: #fff; width: 50px; height: 45px; padding: 5px 0 5px 5px; z-index: 899;}